<web-app version="6.0"
		 xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<servlet>
		<servlet-name>jakarta.ws.rs.core.Application</servlet-name>
	</servlet>
	<servlet-mapping>
		<servlet-name>jakarta.ws.rs.core.Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<!-- Impresindible para que reseasy (implementación de Jakarta REST) entienda
	las anotaciones de Jakarta Security -->
	  <context-param>
	    <param-name>resteasy.role.based.security</param-name>
	    <param-value>true</param-value>
	  </context-param>

	<login-config>
		<auth-method>BASIC</auth-method> <!-- se abre un formulario en el browser
		tener en cuenta de que hay otros tipos de autenticación, por ejemplo se 
		puede indicaar que se abra un formulario de login específico  -->
		<realm-name>ApplicationRealm</realm-name>
	</login-config>

</web-app>